<div class="modal" id="projectModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Project</p>
        <button class="delete close-modal-button" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="newProjectSection">
          <p>Create a new project:</p>
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input
                class="input"
                type="text"
                id="newProjectTitle"
                placeholder="Enter project title"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Details</label>
            <div class="control">
              <textarea
                class="textarea"
                id="newProjectDetails"
                placeholder="Enter project details"
              ></textarea>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success add-new-project-button">Add New Project</button>
        <button class="button is-danger close-modal-button">Close</button>
      </footer>
    </div>
  </div>
</div>

<div class="modal" id="detailsModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Project Details</p>
        <button class="delete close-modal-button" aria-label="close"></button>
      </header>
      <section class="body modal-card-body">
        <h1 id="title">Title</h1>
        <p id="description">Description</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button todo-button">Move to To Do</button>
        <button class="button working-button">Move to Working On</button>
        <button class="button completed-button">Move to Completed</button>
        <button class="button is-danger close-modal-button">Close</button>
      </footer>
    </div>
  </div>
</div>

<script src="./js/modal.js"></script>
