<div class='modal' id='projectModal'>
  <div class='modal-background'></div>
  <div class='modal-content'>
    <div class='modal-card'>
      <header class='modal-card-head'>
        <p class='modal-card-title'>Add Project</p>
        <button class='delete close-modal-button' aria-label='close'></button>
      </header>
      <section class='modal-card-body'>
        <div id='newProjectSection'>
          <p>Create a new project:</p>
          <div class='field'>
            <label class='label'>Title</label>
            <div class='control'>
              <input
                class='input'
                type='text'
                id='newProjectTitle'
                placeholder='Enter project title'
              />
            </div>
          </div>
          <div class='field'>
            <label class='label'>Description</label>
            <div class='control'>
              <textarea
                class='textarea'
                id='newProjectDescription'
                placeholder='Enter project description'
              ></textarea>
            </div>
          </div>
        </div>
      </section>
      <footer class='modal-card-foot'>
        <button class='button is-danger close-modal-button'>Close</button>
        <button class='button is-success add-new-project-button'>Add New Project</button>
      </footer>
    </div>
  </div>
</div>

<script src='./js/modal.js'></script>
