<html lang='en'>
<head>
    <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>procrastinot</title>
  <!-- Link to Bulma CSS -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css'>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap' rel='stylesheet'>
<link rel='stylesheet' href='../css/style.css'>
</head>

<body>
    <main>

        {{{body}}}
    </main>
</body>


