<!-- Hero section with information about the website -->
<section class='hero is-fullheight is-primary'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns is-centered'>
        <div class='column is-full'>
          <!-- Header with the title -->
          <header>
            <h1 class='title'>A little bit about us</h1>
          </header>
          <!-- Section with the description -->
          <section>
            <p>Are you a student who struggles with managing homework and study time? Or a professional with important meetings and projects to schedule. Well say no more! Procrastinot is a awesome new website/web tool designed with the idea of making personal time and task management fun and easy for the end user with a simple to operate interface and design. Via the user friendly dashboard you can select from serveral options such as current projects, completed and to-do. With the built in Time tracking tool the user can keep track of the time and duration spent on a task. The user also has access to a live timer to monitor the current duration of time being spent on a task being worked. </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
