<section class='hero is-fullheight is-primary'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns is-centered'>
        <div class='column is-half'>
          <h1 class='title'>log in</h1>
          <form class="login-form">
            <div class='field'>
              <label class='label'>Email</label>
              <div class='control'>
                <input id="email-login" class='input input-field' type='text' placeholder='Enter your email'>
              </div>
            </div>
            <div class='field'>
              <label id="password-login" class='label'>Password</label>
              <div class='control'>
                <input class='input input-field' type='password' placeholder='Enter your password'>
              </div>
            </div>
            <div class='field'>
              <div class='control'>
                <button class='button is-primary log-button'>Log In</button>
              </div>
            </div>
          </form>
          <div class='buttons is-centered mt-5'>
            <a href='/create' class='button is-sucess account-button'>Create an Account</a>
            <a href='#' class='button is-info about-button'>About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/auth.js"></script>

