<!-- Hero section for creating an account -->
<section class='hero is-fullheight is-primary'>
  <div class='hero-body'>
    <div class='container has-text-centered'>
      <div class='columns is-centered'>
        <div class='column is-half'>
          <!-- Title for creating an account -->
          <h1 class='create'>create an account</h1>
          <form class="signup-form">
            <!-- Input field for email -->
            <div class='field'>
              <label class='label'>Enter your E-mail</label>
              <div class='control'>
                <input id="email-signup" class='input input-field' type='text' placeholder='e-mail'>
              </div>
            </div>
            <!-- Input field for name -->
            <div class='field'>
              <label class='label'>Enter your name</label>
              <div class='control'>
                <input id="name-signup" class='input input-field' type='text' placeholder='name'>
              </div>
            </div>
            <!-- Input field for password -->
            <div class='field'>
              <label class='label'>Create a Password</label>
              <div class='control'>
                <input id="password-signup" class='input input-field' type='password' placeholder='password'>
              </div>
              <!-- Button to the sign-up process -->
              <div class='control'>
                <button id="started-button" class='button is-primary '>LETS GET STARTED!</button>
              </div>
            </div>
          </form>
          <div class='buttons is-centered mt-5'>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/signup.js"></script>
