<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>procrasitnot</title>
    <link rel='stylesheet' href='/public/css/style.css'/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
