<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered custom-title">Projects</h2>
      <!-- <h2 class="subtitle custom-subtitle">procrastinot</h2> -->
    </div>
  </div>
</section>
<section class="section custom-boxes">
  <div class="container">
    <div class="custom-box working-on">
      <a href="working-on.html" class="box">
        <p class="title">Working On</p>
      </a>
    </div>
    <div class="custom-box to-do">
      <a href="to-do.html" class="box">
        <p class="title">To-Do</p>
        <p class="subtitle"></p>
      </a>
    </div>
    <div class="custom-box completed">
      <a href="completed.html" class="box">
        <p class="title">Completed</p>
      </a>
    </div>
    <div class="custom-box total-time-spent">
      <div class="box">
        <p class="title">Total Time Spent</p>
        <p class="subtitle">[data pulled]</p>
      </div>
    </div>
  </div>
</section>