<!-- Hero section for the landing page -->
<section class='hero is-fullheight is-primary'>
  <div class='hero-body is-centered'>
    <div class='container has-text-centered'>

      <!-- Main header -->
      <div id='main-header'>
        <h1>procrastinot</h1>
      </div>
      <!-- Sub header -->
      <div id='sub-header'>
        <h1>Productivity Tracker</h1>
      </div>
      <!-- Button to log in -->
      <a href='/auth' class='button is-primary is-large custom-button'>Log In</a>
      <!-- content section -->
      <div id='dynamic-content'>
      </div>
    </div>
  </div>
</section>
