<section class='hero is-fullheight is-primary'>
  <div class='hero-body is-centered'>
    <div class='container has-text-centered'>
      <div id='main-header'>
        <h1>procrastinot</h1>
      </div>
      <div id='sub-header'>
        <h1>Productivity Tracker</h1>
      </div>
      <a href='/auth' id='landing-login' class='button is-primary is-large custom-button'>Come On In</a>
      <div id='dynamic-content'>
      </div>
    </div>
  </div>
</section>
