<!-- Form section for adding a new todo project -->
<form class='hero'>
  <!-- Title field -->
  <div class='field'>
    <label class='label'>title</label>
    <div class='control'>
      <input class='input input-field' type='text' placeholder='Enter your title'>
    </div>
  </div>
  <!-- Description field -->
  <div class='field'>
    <label class='label'>description</label>
    <div class='control'>
      <input class='input input-field' type='test' placeholder='Enter your description'>
    </div>
  </div>
  <!-- Button to add new todo project -->
  <div class='field'>
    <div class='control'>
      <button class='button is-primary add-button'>Add new todo project</button>
    </div>
  </div>
</form>
