* {
  font-family: "Space Mono", monospace !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.hero {
  background-image: url("../images/SpaceNerd.jpeg");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #31353e !important;
}

button {
  margin-bottom: 5px;
} 

/* For the Landing Page */
#main-header {
  font-size: 120px;
  color: white;
}

#sub-header {
  font-size: 50px;
  color: #7d56b6;
}

.custom-button {
  background-color: #d079bd !important;
  color: white;
  margin-top: 50px;
}

/* For the Log in Page */
.title {
  font-size: 90px;
}

.input-field {
  background-color: #b6b4ae !important;
}

.log-button {
  background-color: #b558a1 !important;
}

.about-button {
  background-color: #7d56b6 !important;
  margin-right: 555px !important;
}

.account-button {
  background-color: #5e6bdd !important;
  color: white;
  border: none;
  margin-left: 500px !important;
}

/* For New Account 
Page */
.create {
  font-size: 60px;
  margin-bottom: 20px;
}

#started-button {
  background-color: #b558a1 !important;
  color: white;
  margin-top: 25px !important;
}

.label {
  color: #b6b4ae !important;
}

/* Modal */
.modal-card-head,
.modal-card-title,
.modal-card-body,
.textarea,
.modal-card-foot,
.input {
  background-color: #31353e !important;
  color: white !important;
}

.modal-card-foot {
  justify-content: space-between;
}

/* DashBoard */
body {
  background-color: #31353e !important;
  background-size: cover !important;
}

.dark-background {
  background-color: #31353e !important;
}

#dashboard-spacing {
  margin: 100%;
}

.custom-title {
  font-size: 100px;
  margin-top: 0;
}

.custom-boxes {
  position: relative;
  padding: 50px;
  background-color: #31353e !important;
  margin-top: 2rem;
}

.custom-box {
  position: absolute;
  padding: 5px;
  background-color: #31353e !important;
}

.custom-box.working-on {
  background-color: #31353e !important;
  top: 200px;
  left: 20%;
}

.custom-box.to-do {
  background-color: #31353e !important;
  top: 500px;
  left: 70%;
}

.custom-box.completed {
  background-color: #31353e !important;
  top: 350px;
  left: 42%;
}

.custom-box .button {
  padding: 20px 30px;
  font-size: 30px;
}

.working-on p,
.to-do p,
.completed p {
  font-size: 50px !important;
}

.custom-box.working-on * {
  background-color: #64d4e7 !important;
}

.working-button {
  background-color: #64d4e7 !important;
  color: white;
  border: none;
}

.custom-box.to-do * {
  background-color: #c432e9 !important;
}

.todo-button {
  background-color: #c432e9 !important;
  color: white;
  border: none;
}

.custom-box.completed * {
  background-color: #6cbe65 !important;
}

.completed-button {
  background-color: #6cbe65 !important;
  color: white;
  border: none;
}

.back-button,
.dashboard-button {
  background-color: #25206b !important;
  color: white;
  border: none;
}

#startButton {
  background-color: #065a22 !important;
  color: white;
  border: none;
  border-radius: 3px;
}

#stopButton {
  background-color: #601414 !important;
  color: white;
  border: none;
  border-radius: 3px;
}

#addFifteen {
  background-color: #11aca2 !important;
  color: white;
  border: none;
  border-radius: 3px;
}

#subtractFifteen {
  background-color: #b5bc23 !important;
  color: white;
  border: none;
  border-radius: 3px;
}

.custom-box.total-time-spent * {
  background-color: #ec4577 !important;
}

/* Time Display */
.time-adjustment {
  align-items: center;
  color: #6cbe65;
  margin-top: 15px;
}

.time-adjustment .time-display {
  margin-right: 100px;
}

.control-buttons {
  margin-left: 325px;
  margin-bottom: 30px;
  margin-top: 30px;
}

body {
  min-height: 100%;
  background: radial-gradient(ellipse at bottom, #013155 0%, #01162e 100%);
}

.star {
  position: absolute;
  background: white;
  border-radius: 50px;
  animation: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.type-1 {
  width: 1px;
  height: 1px;
}

.type-2 {
  width: 2px;
  height: 2px;
}

.type-3 {
  width: 3px;
  height: 3px;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

/* Animation css */

/* Dashboard */
@keyframes lightSpeedInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) skewX(30deg);
  }
  60% {
    opacity: 1;
    transform: translate3d(30px, 0, 0) skewX(-20deg);
  }
  80% {
    transform: translate3d(-15px, 0, 0) skewX(10deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Screen adjustments */
@media screen and (max-width: 980px) {
  #main-header {
    font-size: 110px;
  }
}

@media screen and (max-width: 905px) {
  #main-header {
    font-size: 90px;
  }
  #sub-header {
    font-size: 40px;
  }
  #landing-login {
    font-size: 20px;
    padding: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    padding: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 750px) {
  #login-page {
    max-width: 650px !important;
  }
  .about-button {
    margin-right: 500px !important;
  }
  .account-button {
    margin-left: 400px !important;
  }
}

@media screen and (max-width: 708px) {
  .control-buttons{
    margin-left: auto;
  }
  #about-title,
  #main-header {
    font-size: 70px;
  }
  #about-content {
    font-size: 14px;
  }
  #sub-header {
    font-size: 30px;
  }
  #landing-login {
    font-size: 16px;
    padding: 4px !important;
  }
}

@media screen and (max-width: 660px) {
  #dashboard-title {
    font-size: 80px;
    padding-top: 50px;
  }
  .custom-box .button {
    font-size: 20px;
  }
  #login-page {
    max-width: 550px !important;
  }
  .about-button {
    margin-right: 400px !important;
  }
  .account-button {
    margin-left: 300px !important;
  }
}

@media screen and (max-width: 565px) {
  #about-title {
    font-size: 50px;
  }
  #about-content {
    font-size: 15px;
  }
  #login-page {
    max-width: 450px !important;
  }
  .about-button {
    margin-right: 300px !important;
  }
  .account-button {
    margin-left: 200px !important;
  }
}

@media screen and (max-width: 555px) {
  #completed-title,
  #profile-title {
    font-size: 55px;
  }
  .custom-box.working-on {
    left: 30%;
  }
  .custom-box.to-do {
    left: 60%;
  }
  .custom-box.completed {
    left: 42%;
  }
  #main-header {
    font-size: 50px;
  }
  #sub-header {
    font-size: 25px;
  }
  #landing-login {
    font-size: 15px;
    padding: 4px !important;
  }
}

@media screen and (max-width: 460px) {
  #dashboard-title,
  #working-title,
  #todo-title {
    font-size: 55px;
  }
  .custom-box.working-on {
    top: 150px;
    left: 15%;
  }
  .custom-box.to-do {
    top: 350px;
    left: 60%;
  }
  .custom-box.completed {
    top: 250px;
    left: 35%;
  }
  .custom-box .button {
    font-size: 18px;
  }
  #login-title {
    font-size: 80px;
  }
  #login-page {
    max-width: 350px !important;
  }
  .about-button {
    margin-top: 10px;
    margin-right: 200px !important;
  }
  .account-button {
    margin-left: 100px !important;
  }
}

@media screen and (max-width: 420px) {
  #about-title {
    font-size: 35px;
  }
  #about-content {
    font-size: 14px;
  }
  #create-title,
  #main-header {
    font-size: 40px;
  }
  #sub-header {
    font-size: 20px;
  }
  #landing-login {
    font-size: 16px;
    padding: 4px !important;
  }
}

@media screen and (max-width: 390px) {
  .modal-card-foot .button {
    font-size: 13px;
  }
}

@media screen and (max-width: 360px) {
  #completed-title,
  #profile-title {
    font-size: 42px;
  }
  .profile-text {
    font-size: 14px
  }
  .title {
    font-size: 70px;
  }
  #login-page {
    max-width: 300px !important;
  }
  .about-button {
    margin-top: 10px;
    margin-right: 150px !important;
  }
  .account-button {
    margin-left: 50px !important;
  }
}

@media screen and (max-width: 340px) {
  #main-header {
    font-size: 35px;
  }
  #sub-header {
    font-size: 18px;
  }
  #landing-login {
    font-size: 16px;
    padding: 4px !important;
  }
}
