.hero {
    background-color:#F4F1EB !important;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 100;
  }

  /* For the Landing Page */
  #main-header {
    font-size: 120px;
    color: black;
    
  }

  #sub-header {
    font-size: 50px;
    color: black;
  }

  .custom-button {
    background-color:black !important;
    color:white;
    margin-top: 50px;
}


/* For the Log in Page */

.title {
  font-size: 90px;
  color: black !important;
}
.input-field {
  background-color:#B6B4AE !important;
}

.log-button {
  background-color: black !important;
}

.about-button {
  background-color: black !important;
  margin-right: 555px !important;
}

.account-button {
  background-color: black !important;
  color: white;  
  margin-left: 500px !important;
}